# Example of configuration file for philsh
#
#
#
#
# Define alias
alias ls='ls --color=auto'
alias c=clear
alias ll='ls --color=auto -lh'
alias lll='ls --color=auto -lh | less'
#
#
# A login with cowsay
cowsay `uname -a`
